/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html body {
  background-color: var(--gray100);
  color: var(--gray10);
  font-family: 'IBM Plex Sans', sans-serif;
}

ul, li {
  list-style:none;
}

.kui-examples-tabs {
  overflow:hidden;
  position:relative;
  width:100%;
}
.kui-examples-tabs .ibm-text-tabs {
  border:0;
  overflow-x:auto;
}
.kui-examples-tabs .ibm-tabs:before {
  height:1px;
  width:100%;
  position:absolute;
  left:0;
  bottom:1rem;
  margin-bottom:1px;
  content:' ';
  background-color:var(--gray50);
}

.kui-examples-tabs ul li:before{
  content:' ';
  position:absolute;
  left:0;
  bottom:1px;
  border-bottom: 1px solid var(--gray80);
  width:100%;
  height:1px;
  z-index:0;
}
.kui-examples-tabs ul.ibm-tabs {
  position:relative;
  overflow-y:hidden;
  min-width:30rem;
  background-color: transparent;
  padding: 0 0 0 0;
  height:4rem;
}
.kui-examples-tabs ul.ibm-tabs li {
  padding:0;
  margin:0;
  border:0;
}
.kui-examples-tabs ul.ibm-tabs li.ibm-tab a {
  border:0;
  color:var(--gray10);
  float:left;
  width:10rem;
  text-align:center;
  padding:0.625rem;
  box-sizing:border-box;
  display:block;
  text-decoration:none;
  overflow:visible;
  position:relative;
}
.kui-examples-tabs ul.ibm-tabs li.ibm-tab a.ibm-active, .kui-examples-tabs .ibm-text-tabs .ibm-tabs li.ibm-tab a[aria-selected="true"]{
  font-weight:600;
  color:var(--gray10);
  border:0;
}
.kui-examples-tabs ul.ibm-tabs li.ibm-tab a:after, .kui-examples-tabs .ibm-text-tabs .ibm-tabs li.ibm-tab a[aria-selected="false"]:after{
  height:3px;
  width:100%;
  position:absolute;
  content:' ';
  bottom:-2px;
  left:0;
  z-index:1;
  background-color:var(--gray40);
}
.kui-examples-tabs ul.ibm-tabs li.ibm-tab a:hover:after, .kui-examples-tabs .ibm-text-tabs .ibm-tabs li.ibm-tab a[aria-selected="false"]:hover:after{
  background-color:var(--gray60);
}
.kui-examples-tabs ul.ibm-tabs li.ibm-tab a:active:after, .kui-examples-tabs .ibm-text-tabs .ibm-tabs li.ibm-tab a[aria-selected="false"]:active:after{
  background-color:var(--gray30);
}
.kui-examples-tabs ul.ibm-tabs li.ibm-tab a.ibm-active:after, .kui-examples-tabs .ibm-text-tabs .ibm-tabs li.ibm-tab a[aria-selected="true"]:after{
  background-color:var(--blue40);
}

.kui-video-player {
  overflow:hidden;
  position:relative;
  width:100%;
  background-color: var(--black);
}
.kui-video-subtitle {
  margin-top:0.5rem;
}
.kui-tutorial-video {
  background-color: var(--black);
  z-index:1;
  transition:0.2s ease-out opacity, 0.2s ease-out visibility;
  left:0;
  top:0;
  float:left;
  position:relative;
  width:100%;
}
.kui-tutorial-video.active {
}
.kui-marketing-container .divider {
  margin-bottom: 1.5rem;
}
.divider {
  background-color:var(--gray10);
  height:1px;
  padding:0;
  margin:0;
  width:24px;
}
.divider.divider-black {
  background-color:var(--black);
}
.ibm-grid-large .divider, .ibm-grid-xlarge .divider{
  width:48px;
}


.mobile-menu {
  float:right;
  display:none;
}
/*
.ibm-grid-small .kui-link-list, .ibm-grid-medium .kui-link-list{
  display:none;
}*/
.kui-link-list a{
  color:inherit;
}

.kui-main-nav {
  position:fixed;
  width:100%;
  background-color:var(--gray100);
  left:0;
  top:0;
  z-index:9;
}
.kui-main-nav{
  padding:1.5rem 0 0.5rem 0;
}
.kui-main-nav > .ibm-grid-container {
  position:relative;
}
.kui-main-nav .kui-nav-border {
  width: calc(100% - 32px);
  height: 1px;
  position: absolute;
  bottom: -8px;
  background-color: var(--gray70);
  left: 16px;
}
.kui-main-nav h1 {
  font-weight:600;
  padding:0;
}
.kui-main-nav ul {
  text-align:right;
  padding:0;
}
.ibm-grid-small .kui-main-nav ul > li{
  margin: 0 0 0 1rem;
}
.kui-main-nav ul > li{
  display:inline;
  padding:0;
  margin:0 0 0 2rem;
}
.kui-main-nav ul > li:first-child{
  margin:0;
}
.kui-main-nav ul > li::before{
  display:none;
}

.ibm-grid-small .kui-top {
  padding: 5rem 0 4rem 0;
}
.kui-top {
  padding:6rem 0 4rem 0;
}
.kui-top h1{
  margin:0;
  padding:0;
  font-weight:100;
}
.ibm-grid-medium .kui-tagline {
  font-size:2.7rem;
  font-weight:300;
  line-height:3.2rem;
}
.ibm-grid-small .kui-tagline{
  font-size: 1.5rem;
  font-weight:300;
  line-height:2rem;
}
.ibm-grid-xlarge .kui-tagline, .ibm-grid-large .kui-tagline {
  font-size: calc(2.625rem + .75 * ((100vw - 42rem)/ 24));
  line-height: calc(3.125rem + .875 * ((100vw - 42rem)/ 24));
  max-width: calc(59rem + 36.5 * ((100vw - 42rem)/ 24));
  font-weight:100;
}
.kui-top .kui-tagline {
  margin:0 0 1.25rem 0;
  padding:0;
}
.kui-top .kui-version span{
  margin:0.75rem 0 0 0;
  padding:0;
  display:block;
}
.ibm-grid-medium .kui-hero-video, .ibm-grid-small .kui-hero-video {
  margin: 0 0 1rem 0;
}
.kui-hero-video {
  width:100%;
  margin:4rem 0 5rem 0;
}

.kui-links h3 {
  margin:0 0 0.5rem 0;
  padding:0;
}
.kui-codepaste {
  margin: 0 0 1.5rem 0;
}
.kui-codepaste h3{
  margin:0 0 0.5rem 0;
  padding:0;
}
.kui-codecopy img {
  float: right;
  position: relative;
  top: -0.5rem;
  right: -0.5rem;
}
.kui-codecopy span {
  margin:0;
  padding:0;
}
.kui-codecopy{
  cursor:pointer;
  display:block;
  height:3rem;
  line-height:1rem;
  border:0;
  margin:0;
  padding:1rem;
  box-sizing: border-box;
  width:100%;
  text-align:left;
  background-color:#282828;
  color:var(--gray10);
}
.kui-codecopy:hover {
  background-color:#4C4C4C;
}
.kui-codecopy:active {
  background-color:var(--gray60);
}
.kui-codecopy:focus {

}
.kui-resources-link span {
  text-decoration: none;
}
.kui-resources-link.hidden {
  display:none;
}
.kui-resources-link {
  display:block;
  width:100%;
  padding:1rem;
  box-sizing:border-box;
  position:relative;
  height:3rem;
  line-height:1rem;
  border-bottom:1px solid var(--gray80);
  color:inherit;
  text-decoration: none;
}
.kui-resources-link:hover {
  text-decoration: none;
  color:inherit;
  background-color:var(--blue61);
}
.kui-resources-link:focus {
  color:inherit;
  text-decoration: none;
}
.kui-resources-link:active {
  color:inherit;
  text-decoration: none;
  background-color:var(--blue80);
}
.kui-resources-link img {
  float:right;
  position:relative;
  top:-0.5rem;
  right: -0.5rem;
}

.kui-examples-bg {
  background-color:var(--gray90);
}
.kui-examples-container {
  padding:4rem 0 4rem 0;
}

.kui-marketing-container {
  background-color:var(--gray10);
  color:var(--black);
}
.kui-marketing > div {
  min-height:10em;
}
.kui-marketing h3 {
  padding:0;
  margin-bottom: 0.5rem;
  font-weight:600;
}
.kui-marketing {
  padding:1.5rem 0 1.5rem 0;
}
.kui-marketing h2 {
  margin:0 0 1.25rem 0;
  padding:0;
}

.kui-footer {
  padding:1rem 0 1rem 0;
  background-color:var(--black);
  color:var(--gray10);
}
.kui-footer .copyright {
  margin-top: 1rem;
  display:block;
  clear:both;
}
.kui-footer ul li {
  display:inline;
  padding-left:0;
}
.kui-footer ul li {
  margin-right:2rem;
}
.copyright {
  color:var(--gray40);
}
.kui-madebyibm {
  text-align:right;
}
.ibm-grid-medium .kui-madebyibm, .ibm-grid-small .kui-madebyibm {
  display:none;
}
.ibm-grid-medium .kui-footer ul li, .ibm-grid-small .kui-footer ul li {
  display:block;
  margin:0;
}
.kui-footer ul li:before {
  display:none;
}
